<div style="background-color: white;     width: 100vw;display: flex; gap: 2rem; height: 65px; align-items: center; padding: 0 ; box-shadow: 0 -1px 40px 0 rgba(145, 145, 156, 1);">
  <div style="background-color: #e31b1a; height: 65px; width: 105px; display: flex; align-items: center; justify-content: center">
    <img src="assets/Logo_white_prev_ui.png" height="50px">
  </div>
    <a routerLink="/main">Сводная таблица</a>
    <a (click)="showMetrics()"> Основные метрики</a>
    <button (click)="addFile()" mat-raised-button color="primary">Добавить файл</button>
</div>
