.highlight {
  background-color: #e21a1a !important;
  color: white !important;
}
span{
  font-size: 17px !important;
  font-family: "IBM Plex Sans", sans-serif !important;
  padding: 0 !important;
  margin: 0 !important;
}